@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "Epilogue", sans-serif!important; background-color: white!important;}

body, *{
  box-sizing: border-box;
}

.bg-section-1{
  width: 100%;
  /*padding: 12rem 0;*/
  color: white;
  background-image:radial-gradient(ellipse at bottom,#1a68d3 5%,transparent 60%),
    linear-gradient(136deg,transparent,#71c7ee 290%),
    linear-gradient(115deg,#9d9af1,transparent 40%),
    linear-gradient(180deg,transparent 0,#1a68d3 70%),
    radial-gradient(ellipse at bottom,#1a68d3 50%,transparent 90%);
}

header a{
  color: white!important;
}

.navbar{
  padding: 20px 0!important;
  font-weight: 600;
}

.navbar-brand{
  font-size: 1.5rem!important;
  font-weight: 600;
}


#about{
  color: white;
  padding: 5rem 0;
  /*background-image:  linear-gradient(90deg,#ff8485,#f9eac6);*/
  border-radius: 30px;
}

#about button{
  border: 2px solid white;
  font-weight: 500;
  border-radius: 30px;
  padding: 12px;
  color: white;
  transition: 0.5s;
}

#about button:hover{
  background-color: white;
  color: #1a68d3;  
}


#technologies{
  margin: 5rem auto;
  border-radius: 20px;
}

.tecno-badges{
  width: 100%;
  margin: auto; 
}

.tecno-badges select{
  display: block;
  padding: 10px;
  border-radius: 20px;
  margin-left: auto;
  background-color: transparent;
  border: 2px solid gray;
  color: gray;
  font-weight: 600;
}

select option{
  padding: 5px;
}

.tecno{
  margin: 10px auto;
  margin-right:5px ;
  padding: 8px;
  border: solid 2px gray;
  border-radius: 20px;
  font-weight: 600;
  color: gray;
  transition: .5s;
}

.tecno:hover{
  cursor: pointer;
  color: white;
  background-color: gray;
}

.card-project{
  width: 95%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  /*background-image: linear-gradient(to left, #227FBB , white);*/
  justify-content: space-between;
  padding: 20px;
  color: white;
  margin: 20px auto;
  transition: 0.5s;
}

.card-project:hover{
  width: 100%;
}

.card-project a {
  color: white;
  text-decoration: none;
}

.navbar{
  font-size: 1.2rem!important;
}

div.card-project:nth-child(even){
  flex-direction: row-reverse;
}

.card-project h2{
  font-weight: 600;
  text-align: center;
}

.card-project button{
 border: solid 2px white;
 color: white;
 background-color: transparent; 
 border-radius: 20px;
 font-weight: 600;
 padding: 5px 10px;
 margin-right: 10px;
 margin-top: 20px;
}



.card-project .card-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 210px;
  position: relative;
}
.card-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card-text{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation h2{
  font-size: 3rem;
}

.presentation p{
  font-size: 1.2rem;
}

.img-fluid{
  width: 80%;
}

.grid-content{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1%;
}

footer img{
  width: 2em;
}

footer{
  background-image: radial-gradient(ellipse at bottom,#1a68d3 5%,transparent 60%),linear-gradient(136deg,transparent,#71c7ee 290%),linear-gradient(115deg,#9d9af1,transparent 40%),linear-gradient(180deg,transparent 0,#1a68d3 70%),radial-gradient(ellipse at -70% -180%,transparent 80%,#71c7ee 0),radial-gradient(ellipse at bottom,#1a68d3 40%,transparent 80%),radial-gradient(ellipse at 5% 340%,transparent 80%,#bfc2f4 0);
  color: white;
}

footer>div{
  width: 20%;
  margin: auto;
  justify-content: space-between;
}

footer i{
  color: white;
}

footer ul {
  width: 50%;
  margin: 5rem auto;
  display: flex;
  text-align: center;
  padding: 0;
  justify-content: space-evenly;
}

footer ul li{
  display: inline-block;  
}

footer li a{
  color: white;
  text-decoration: none;
}

.btn{
  margin: 0.1em;
}

.sq{
  width: 100%;
  /*height: 100px;*/
}

.sq-image{
  width: 90%;
  margin: auto;
  height: 90px;
  background-color: white;
  margin: 10px;
}

#technologies img{
  width: 3em;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.mobile{
  position: absolute;
  width: 28%;
  top: 5%;
  right: 0;
}

.normal{
  width: 100%;
  height: 100%;
}

.mobile img{
  display: block;
}

footer{
    padding: 5em;
}
@media (max-width: 500px) {
  
  .navbar-brand{
    font-size: 1.2rem!important;
    font-weight: 600;
  }

  .presentation p {
    font-size: 1rem;
  }
  

  .row{
    flex-direction: column;
    width: 90%;
    margin: auto!important;
  }

  .grid-content{
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
  .card-project{
    flex-direction: column!important;

  }

  .card-project{
    width: 100%;
  }
  .card-project .card-img{
    width: 100%;
  }

  .card-text{width: 100%;}

  .card-text p{height: 20px; overflow: hidden; display: block; transition: height 0.5s ease;}

  .card-text p:hover{
    height: auto;
  }

  .tecno-badges{
    display: flex;
    flex-wrap: wrap;
  }

  .presentation h2{
    font-size: 2rem;
    text-align: center;
  }

  .mobile{
    top: 15%;
  }

  footer ul li {
    margin-bottom: 5px;
    display: block;
  }

  footer ul{
    text-align: start;
    display: block;
    width: 80%;
  }

  footer>div{
    width: 80%;
  }

  

}

